/* Set global colors & border styles */


/* Contrast color */

body, h2, .sidebar-outer{
	background: #e3f2ff;
}
.taglist{
	border: 2px solid #e3f2ff;
}


/* Main color (text areas) */

#head, .sidebar, #content, .taglist{
	background: #fff; 
}


/* borders */

#head, #nav, #content{
	border: 1px solid #ccc;
}
h3{
	border-bottom: 1px solid #ccc;
}



/*General CSS styles*/

html{
	height: 100%; 
	max-height: 100%; 
	padding: 0; 
	margin: 0; 
	border: 0; 
	overflow: hidden;
}

body {
	text-align: center;
	overflow: hidden; 
	padding: 0; 
	margin: 0; 
	border: 0;
	font-family: Calibri, Helvetica, sans-serif;
}

body.sidebar {
	text-align:left;
	width: 100%;
	height: 100%;
	overflow-y:scroll;
}

#wrapper {
	margin:0 auto;
	text-align:left;
	height: 100%;
}

#head {
	margin: 15px 15px 10px;
	display: block;  
	height: 60px; 
	font-size: 2em; 
	z-index: 5; 
	padding: 20px 30px;
}

#nav {
	float:left;
	width: 300px;
	height: 83%;
	margin-left: 15px;
	font-size: 1em; 
	z-index: 4; 
}

#content {
	margin: 10px 15px;
	height: 83%;
	font-size: 1em; 
	z-index: 4; 
	overflow-y: auto;
}

#foot {
	clear:both;
	margin: 10px;
	display: block; 
	height: 20px; 
	font-size: 0.8em; 
	z-index: 5; 
	padding: 0 10px;
}

h1{
	margin: 0;
	line-height: 1.4;
	font-size: 1.2em;
}

h2{
	padding: 10px;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
}

td{
	padding: 10px;
}

table.attvaltable tr:nth-child(even){
	background-color: #f5f5f5;
}

#head a{
	color: #000;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.inner {
	display: block; 
	padding: 10px 30px;
}

.sidebar-outer{
	display: block;
	padding: 5px 6px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 1.1em;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
}

.taglist{
	text-align: right;
	font-size: .9em;
	-moz-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

body.sidebar ul{
	padding-left:5px;
	font-size: .85em;
	line-height: 2;
	list-style-type: none;
}

ul.parents, ul.children{
	font-family: monospace;
	line-height: 1.5;
	list-style-type: none;
}

ul.tags{
	list-style-type:none;
}

.attvalue{
	font-family: monospace;
}

.content-model{
	line-height: 1.3;
	font-family: monospace;
}

.notes{
	margin-bottom:30px;
}

.model{
	margin: 30px auto;
}

span.attvalue, span.pagetitle{
	font-weight: 500;
}

ul.parents li{
	display: inline;
}

ul.parents li:after {
	content: ", ";
}
	
ul.parents li:last-child:before {
	content: "and ";
}

ul.parents li:first-child:before {
	content: "";
}
	
ul.parents li:last-child:after {
	content: ""; 
}

.bold {
	font-weight: bold;
}

.notetitle{
	text-transform: capitalize;
}
#foot p{
	margin:0;
}

#foot p.right{
	float:right;
	text-align:right;
}
